<div class="banner">
    <img src="assets/banner.jpeg">
    <div class="cta">
        <img src="assets/sc.png">
        <h3>
            PIZZA IS A SAVORY DISH OF ITALIAN ORIGIN,<br>
            CONSISTING USUALLY OF ROUND, FLATTENDED,<br>
            BASE OF LEAVENED WHEAT-BASED DOUGH<br>
            TOPPED WITH TOMATOES, CHEESE, AND OFTEN<br>
            VARIOUS OTHER INGREDIENTS BAKED AT A HIGH.
        </h3>
        <button (click)="order_now()">
            ORDER NOW
        </button>
    </div>
</div>