<div class="yellow_bar"></div>
<div class="yellow_circle"></div>
<img src="assets/sc.png" class="logo">
<div class="menu">
    <h3>CATEGORIES</h3>
    <ol>
        <li *ngFor="let item of menu; let i = index;" (mouseenter)="highlight(i)" (mouseleave)="remove_highlight()" (click)="select_tab(i)" [ngClass]="{'active':hover_tab == i}">
            <div *ngIf="hover_tab == i"></div>
            {{item}}
            <div *ngIf="hover_tab == i"></div>
        </li>
    </ol>
</div>
<div class="display_bar">
    <div style="display: contents;text-align: right;" (click)="go_to_orders()">
        <img class="cart" src="assets/food.png">
        <span class="content">ORDER STATUS</span>
        <div class="number">
            <span>{{order.items.length}}</span>
        </div>
    </div>
    <h1>
        {{menu[active_tab]}}
    </h1>
    <div class="wid_100">
        <div class="wid_33" *ngFor="let item of filtered_items; let i = index;">
            <img *ngIf="menu[active_tab] == 'Pizza'" src="assets/pizza.png">
            <img *ngIf="menu[active_tab] == 'Desserts'" src="assets/desserts.png">
            <div class="add_btn" *ngIf="get_quantity(item._id) == 0" (click)="add(item)">
                +
            </div>
            <div class="count_container" *ngIf="get_quantity(item._id) > 0">
                <div class="sub_btn_2" (click)="sub_quantity(item._id)">
                    -
                </div>
                <div class="quantity">
                    {{get_quantity(item._id)}}
                </div>
                <div class="add_btn_2" (click)="add_quantity(item._id)">
                    +
                </div>
            </div>
            <h3>
                <span *ngIf="currency == 'dollar'">$</span>
                <span *ngIf="currency == 'euro'">€</span>
                {{item.price[currency]}} {{item.price.value}}
            </h3>
            <h2>
                {{item.title}}
            </h2>
            <p>
                {{item.description}}
            </p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>