.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0,0,0,0.2);
}
.order_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background: var(--white);
    z-index: 6;
    padding: 25px;
}
.no_data {
    position: fixed;
    text-align: center;
    color: var(--dark-grey);
    position: fixed;
    top: 40%;
    width: 550px;
}
.header {
    h2 {
        font-size: 24px;
        font-weight: 600;
    }
    span {
        float: right;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        img {
            width: 30px;
            vertical-align: bottom;
        }
    }
}
.container {
    h3 {
        margin: 50px 0 25px 0;
        color: var(--dark-yellow);
        font-weight: 600;
    }
    ol {
        list-style: none;
        li {
            padding: 15px 0;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .wid_100 {
            width: 100%;
            display: flex;
        }
        .wid_50 {
            width: 50%;
            float: left;
            font-size: 16px;
            font-weight: 500;
            span {
                color: var(--dark-grey);
            }
        }
        .count_container {
            width: fit-content;
            box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
            cursor: pointer;
            background: var(--white);
            height: 40px;
            border-radius: 40px;
            text-align: center;
            float: right;
            div {
                display: inline-block;
            }
        }
        .sub_btn_2 {
            width: 40px;
            height: 40px;
            background: var(--red);
            color: var(--white);
            font-size: 26px;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }
        .add_btn_2 {
            width: 40px;
            height: 40px;
            background: var(--red);
            color: var(--white);
            font-size: 26px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        .quantity {
            // width: 25px;
            font-size: 24px;
            margin: 0 20px;
            color: var(--dark-grey);
        }
    }
    .list {
        width: 100%;
        display: flex;
        .wid_50 {
            width: 50%;
            float: left;
            font-size: 16px;
            font-weight: 500;
            color: var(--dark-grey);
            span {
                color: var(--black);
                font-size: 20px;
                font-weight: 600;
                float: right;
                text-align: right;
            }
        }
        select {
            background: transparent;
            border: none;
            width: 50%;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            border-bottom: 1px solid var(--light-grey);
            padding: 5px 0;
            float: right;
            margin-bottom: 10px;
        }
    }
}
.error {
    color: var(--red);
    font-size: 12px;
    font-weight: 600;
}