.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0,0,0,0.2);
}
.order_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background: var(--white);
    z-index: 6;
    padding: 25px;
}
.no_data {
    position: fixed;
    text-align: center;
    color: var(--dark-grey);
    position: fixed;
    top: 40%;
    width: 550px;
}
.header {
    h2 {
        font-size: 24px;
        font-weight: 600;
    }
    span {
        float: right;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        img {
            width: 30px;
            vertical-align: bottom;
        }
    }
}
.container {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--light-grey);
    h3 {
        margin: 50px 0 25px 0;
        color: var(--dark-yellow);
        font-weight: 600;
    }
    .list {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        .wid_50 {
            width: 50%;
            float: left;
            font-size: 16px;
            font-weight: 500;
            color: var(--dark-grey);
            span {
                color: var(--black);
                font-size: 16px;
                font-weight: 600;
                float: right;
                text-align: right;
            }
        }
        select {
            background: transparent;
            border: none;
            width: 50%;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            border-bottom: 1px solid var(--light-grey);
            padding: 5px 0;
            float: right;
            margin-bottom: 10px;
        }
    }
}
.container:nth-last-of-type(1) {
    border: none;
}